[submodule "Test/test.subfolder.test_editing_repo"]
        path = Test/test.subfolder.test_editing_repo
        url = git@github.com:M42-ACHCH/test.subfolder.test_editing_repo.git
        branch = edit_readme

